<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>bigrock.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,186},{122,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{122,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>crate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>giantrock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,182}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{192,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,304},{78,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tex-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e51f26c0c8062a2b2ec6825d7995e820$</string>
            <key>textureFileName</key>
            <string>tex-hd.png</string>
        </dict>
    </dict>
</plist>
